// Font family
$primary-font: "SF Pro", sans-serif;
$secondary-font: "SF Pro", sans-serif;

//Color
$primary-color: #3BD69B;
$heading-color: #000000;
$body-text-color: #858585;
$body-background-color: #ffffff;

//font-size
$h1-font-size: 48px;
$h2-font-size: 48px;
$h3-font-size: 28px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 17px;
$body-text-size: 20px;
