@mixin booking-form-input {
    padding: 18px 16px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    &:focus {
      box-shadow: none;
      outline: none;
      background-color: #fff;
      border-color: #fff;
    }
  }