@import "../variables";

.footer-warper {
    border: 1px solid #ECECEC;

    .footer-widget {
        padding: 55px 0px 60px;

        @media only screen and (max-width: 991px) {
          padding-bottom: 40px;
        }

        p {
            font-size: 16px;
            color: rgba(#000000, 0.48) !important;
        }

        .footer-nav {
            display: flex;
            align-items: flex-start;

            ul {
                padding: 0;
                margin: 0 86px 0 0;

                @media only screen and (max-width: 480px) {
                    margin-right: 20px;
                }

                &:last-child {
                    margin-right: 0;

                    li {
                        margin-right: 0;
                    }
                }

                li {
                    list-style: none;
                    margin-top: 23px;

                    &:first-child {
                        margin-top: 0;
                    }

                    a {
                        font-size: 16px;
                        color: #000000;
                        font-weight: 500;
                      
                        @media only screen and (max-width: 767px) {
                            font-size: 14px;
                        }

                        &:hover {
                            color: $primary-color;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .footer-copyright-wraper {
        border: 1px solid #ECECEC;

        .footer-copyright  {
            padding: 24px 0px 27px;

            p {
                font-size: 16px;
                color: rgba(#000000, 0.48) !important;

                @media only screen and (min-width: 992px) {
                    margin-bottom: 0;
                }
            }

            .footer-copyright-nav {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 0px;
                    padding-left: 0px;

                    @media only screen and (max-width: 991px) {
                        justify-content: flex-start;
                    }

                    @media only screen and (max-width: 480px) {
                      flex-direction: column;
                      align-items: flex-start;
                    }

                    :last-child {
                        margin-right: 0px;
                    }

                    li {
                        margin-right: 40px;
                        list-style: none;

                        @media only screen and (max-width: 480px) {
                            margin-bottom: 10px;
                        }

                      &:last-child {
                          margin-right: 0;
                          @media only screen and (max-width: 480px) {
                              margin-bottom: 0;
                          }
                      }

                        a {
                            font-size: 16px;
                            color: $heading-color;

                            @media only screen and (max-width: 767px) {
                                font-size: 14px;
                            }

                            &:hover {
                                color: $primary-color;
                              text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}