@import "../variables";

.reserve-section {
    overflow-x: hidden;
    margin-bottom: 148px;

    @media only screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    &__wrapper {
        margin-left: -132px;
        margin-right: -132px;

        @media only screen and (max-width: 991px) {
            margin-left: 0;
            margin-right: 0;
            background-color: $primary-color;
            padding: 60px 60px 40px;
            border-radius: 12px;
        }

        @media only screen and (max-width: 991px) {
            padding: 40px 40px 20px;
        }
    }

    &__content {
        &__wrapper {
            @media only screen and (min-width: 992px) {
                background-color: $primary-color;
                border-radius: 12px;
                padding: 64px 0 70px;
            }

            h2 {
                font-size: 48px;
                color: #000000;
                letter-spacing: -1.35px;
                text-align: center;
                line-height: 64px;
                margin-bottom: 32px;

                @media only screen and (max-width: 767px) {
                    font-size: 28px;
                    line-height: 36px;
                    margin-bottom: 10px;
                }

                span {
                    display: block;
                    color: #ffffff;
                }
            }

            p {
                opacity: 0.72;
                font-size: 20px;
                color: rgba(#000, 0.60);
                letter-spacing: -0.56px;
                text-align: center;
                line-height: 32px;
                margin-bottom: 64px;

                @media only screen and (max-width: 767px) {
                    font-size: 18px;
                    margin-bottom: 0;
                }
            }
        }
    }

    .booking-form__wrapper {
        padding: 0 92px;

        @media only screen and (max-width: 991px) {
            padding: 0;
            margin-top: 40px;
        }

        @media only screen and (max-width: 767px) {
            margin-top: 20px;
        }
    }

    .booking-form {
        background-color: $heading-color;
        padding: 36px 40px 16px;
        border-radius: 12px;
        margin-top: -64px;

        @media only screen and (max-width: 991px) {
            background: transparent;
            padding: 0;
            margin-top: 0;
        }

        &__btn {
            @media only screen and (max-width: 991px) {
                background-color: #fff;
                color: $primary-color;
            }
        }
    }
}